@font-face {
    font-family: 'OpenDyslexic';
    src: url('../font/opendyslexic-0.92/OpenDyslexic-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenDyslexic';
    src: url('../font/opendyslexic-0.92/OpenDyslexic-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'OpenDyslexic';
    src: url('../font/opendyslexic-0.92/OpenDyslexic-Italic.otf') format('opentype');
    font-weight: normal;
    font-style: italic;
}

.bodyLarge {
    font-family: 'OpenDyslexic', sans-serif;
    letter-spacing: 0.15em;
    line-height: 2.0em;
    text-align: left;
}

.headlineLarge {
    font-family: 'OpenDyslexic', sans-serif;
    font-weight: bold;
    font-size: 2.5em;
    letter-spacing: 0.1em;
}

.color-legend {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.legend-item {
    display: flex;
    align-items: center;
    gap: 5px;
}

.legend-color {
    width: 20px;
    height: 20px;
    border: 1px solid #000;
}
